@keyframes moveFlames {
  100% {
    transform: translateY(2px);
  }
}

.playerSelector {
  position: fixed;

  .playerSelectorBtn {
    cursor: pointer;
    background: none;
    border: none;

    &:focus, :hover {
      outline: none;
      .svgBtn {
        fill: #EEB95C;
      }
      .svgBtnText {
        fill: #000000;
      }
    }

    &:disabled {
      cursor: no-drop;
      .svgBtn {
        opacity: .5;
        fill: #000000;
      }
      .svgBtnText {
        fill: gray;
      }
    }
  }

  .playerInput {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    font-size: 20px;
    opacity: 0.6;
  }

  .flames {
    animation: moveFlames 0.5s alternate infinite;
  }
}
